<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjxy.employee.dao.DepartmentMapper">
	<insert id="save" parameterType="cn.sjxy.employee.domain.Department">
		insert into dept(dname,note) values(#{dname},#{note})
	</insert>
	
	<select id="findAllDepartment" resultType="cn.sjxy.employee.domain.Department">
		select * from dept
	</select>
</mapper>